<header class='ol-orange'>
  <h1>
    MyLands Playlist
  </h1>
</header>
<div class='checkin-container ol-brown'>
  <% @checkins.each do |checkin| %>
    <% if checkin.artist %>
      <div class="checkin-location checkin-artist" data-echonest="#{checkin.artist.echonest_id}">
        <h1><%= checkin.location.name %></h1>
        <h4><%= "#{checkin.created_at.strftime("%A %_m/%d %l:%M%P")}" %></h4>
        <h2><%= checkin.artist.name %></h2>
      </div>
    <% else %>
        <div class="checkin-location">
          <h1><%= checkin.location.name %></h1>
          <h4><%= "#{checkin.created_at.strftime("%A %_m/%d - %l:%M%P")}" %></h4>
        </div>
    <% end %>
  <% end %>
</div>


<div class="artist-details hidden ol-gray">
  <div class="details-head">
    <div class="exit">
      <%= image_tag 'x.png' %>
    </div>
  </div>
  <div class="artist-info">
    <h1 class="artist-name"></h1>
    <h3 class="artist-genre"></h3>
    <div class="play-button"><iframe src="" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></div>
  </div>
  <img src='' class="artist-photo"/>
</div>